* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  list-style: none;
  background-color: #0b7474;
  overflow: auto;
  position: fixed;
  top: 5px;
  width: 100%;
  border-radius: 8px 40px 8px;
}

.navbar li {
  float: left;
  height: 100%;
  font-weight: bold;
}

.navbar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px 20px;
}

.navbar li a:hover {
  background-color: #995b01;
  color: #f4f4f4;
}

.navright {
  float: right;
}

img.logo {
  border-radius: 50%;
}

.content {
  background-color: #ffeacc;
  height: 605px;
  float: left;
  width: 100%;
  position: relative;
  top: 110px;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style-position: outside;
  overflow: hidden;
}

.info {
  width: 1100px;
  position: relative;
  left: 225px;
  font-size: 20px;
}
.head {
  text-align: center;
}
